[Desktop Entry]
Type=Application
Name=Terminal
Name[zh_CN]=终端
Exec=xterm -e /bin/bash
Path=/data/workspace
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
